{% extends "base.html" %}
{% load i18n %}
{% load staticfiles %}
{% block title %}{% trans "Dashboard" %}{% endblock %}
{% block style %}
      /* tables */
      table#sortTable th {
        background-image: url("{% static "img/bg.gif" %}");
        background-repeat: no-repeat;
        background-position: center right;
        cursor: pointer;
      }
      table#sortTable thead tr .headerSortUp {
        background-image: url("{% static "img/asc.gif" %}");
      }
      table#sortTable thead tr .headerSortDown {
        background-image: url("{% static "img/desc.gif" %}");
      }
{% endblock %}
{% block content %}
<!--    <div class="well pagination-left"> -->
    <div class="container">
      <table>
        <tr height="40px"></tr>
	<tr>
	<td>
        <div id="player" class="well pagination-centered span7 grow4">
          <h1>Loading...</h1>
        </div>
        </td>
        <td class="pagination-centered">
        <div class="well span2 pull-right grow4">
          <h4>Description:</h4>
          <p>ssssssssss</p>
        </div>
	</td>
        </tr>
      </table>
    </div>
    <div class="navbar navbar-fixed-bottom">
      <div class="navbar-inner" style="bottom:10px">
        <div class="container-narrow">
          <a href="/" class="brand">欧美</a>
          <a href="/" class="brand">日韩</a>
          <a href="/" class="brand">大陆</a>
          <a href="/" class="brand">港台</a>
	</div>
	<br><hr>
	<div class="container-narrow pagination-left">	  
          {% for id,clip in data %}
          <a href="player{{ id }}" ><img class="img-gallery img-rounded img-polaroid" src="{% static clip %}" alt="Test" /></a>&nbsp&nbsp&nbsp 
          {% endfor %}
	</div>
	<div class="container" height="10px">&nbsp&nbsp</div>
      </div>
    </div>
{% endblock %}
{% block script %}
  <script src="{% static "js/jquery.tablesorter.js" %}"></script>
  <script type="text/javascript" src="http://jwpsrv.com/library/QdAkHC_fEeOxKBIxOUCPzg.js"></script>
  <script >
    $(function() {
      $("#sortTable").tablesorter({ sortList: [[0,0]] });
    });
  </script>
  <script type="text/javascript">
    jwplayer("player").setup({
	{% ifequal video 'live' %}
        repeat: "true",
        autostart: "false",
        playlist: [{
            image: "uploads/1.jpg",
            file: "rtmp://147.2.207.124/live/live1",
            repeat: "list",
        }],
	{% else %}
	file: "{% static video %}",
	{% endifequal %}
        height: 406,
        image: "{% static "img/" %}",
        width: 720,
    });
  </script>
{% endblock %}
